<h2>Create New Book</h2>
<hr>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <%= form_for @book, url: { action: 'create' } do |f| %>
        <%= render partial: 'form', locals: { f: f , save_prompt: 'Create Book' }%>
      <% end %>

      <%= link_to 'Back to books', books_path %>
    </div>
  </div>
</div>
